In [2]:
import requests
import pandas as pd
import os

# Base URL for the API

In [1]:
BASE_URL = "https://api.openf1.org/v1"

In [3]:
def get_latest_session_key():
    response = requests.get(f"{BASE_URL}/sessions?meeting_key=latest")
    response.raise_for_status()
    return response.json()[0]['session_key']

Getting latest session key...
Session key: 10023

Fetching lap data...
Saved lap data to f1_data/laps.csv

Dataset Summary:
Total records: 429
Columns: meeting_key, session_key, driver_number, lap_number, date_start, duration_sector_1, duration_sector_2, duration_sector_3, i1_speed, i2_speed, is_pit_out_lap, lap_duration, segments_sector_1, segments_sector_2, segments_sector_3, st_speed

First 5 rows:
   meeting_key  session_key  driver_number  lap_number  \
0         1259        10023             81           1
1         1259        10023             10           1
2         1259        10023              5           1
3         1259        10023             16           1
4         1259        10023             55           1

                         date_start  duration_sector_1  duration_sector_2  \
0  2025-05-02T16:30:04.816000+00:00                NaN             43.201
1  2025-05-02T16:30:11.241000+00:00                NaN             40.568
2  2025-05-02T16:30:14.320000+00:00                NaN             40.195
3  2025-05-02T16:30:20.489000+00:00                NaN             40.275
4  2025-05-02T16:30:21.956000+00:00                NaN             41.446

   duration_sector_3  i1_speed  i2_speed  is_pit_out_lap  lap_duration  \
0             35.596     164.0     107.0            True           NaN
1             27.843     173.0     161.0            True           NaN
2             34.242     197.0     173.0            True           NaN
3             38.481     190.0     153.0            True           NaN
4             36.064     186.0      98.0            True           NaN

                                   segments_sector_1  \
0  [2064, 2064, 2064, 2049, 2049, 2049, 2049, 204...
1  [2064, 2064, 2064, 2051, 2049, 2049, 2049, 204...
2  [2064, 2064, 2064, 2049, 2049, 2049, 2049, 204...
3  [2064, 2064, 2064, 2049, 2049, 2049, 2049, 204...
4  [2064, 2064, 2064, 2049, 2049, 2049, 2049, 204...

                                   segments_sector_2  \
0  [2049, 2049, 2049, 2049, 2049, 2049, 2049, 204...
1  [2049, 2049, 2049, 2049, 2049, 2049, 2049, 204...
2  [2049, 2049, 2049, 2049, 2049, 2049, 2049, 204...
3  [2049, 2049, 2049, 2049, 2049, 2049, 2049, 204...
4  [2049, 2051, 2051, 2051, 2049, 2049, 2049, 204...

                                  segments_sector_3  st_speed
0  [2049, 2049, 2049, 2049, 2049, 2049, 2049, 2051]     219.0
1  [2049, 2051, 2051, 2051, 2051, 2051, 2051, 2051]     302.0
2  [2051, 2049, 2049, 2049, 2049, 2049, 2049, 2049]     157.0
3  [2049, 2049, 2049, 2049, 2049, 2049, 2049, 2049]     109.0
4  [2049, 2049, 2049, 2049, 2049, 2049, 2049, 2051]      71.0

In [ ]:
def fetch_data(endpoint, session_key):
    url = f"{BASE_URL}/{endpoint}?session_key={session_key}"
    response = requests.get(url)
    response.raise_for_status()
    return pd.DataFrame(response.json())

In [ ]:
def save_data(df, name):
    filepath = f"f1_data/{name}.csv"
    df.to_csv(filepath, index=False)
    print(f"Saved {name} data to {filepath}")

In [ ]:
session_key = get_latest_session_key()
laps_df = fetch_data("laps", session_key)
save_data(laps_df, "laps")

In [4]:
df = pd.read_csv("f1_data/laps.csv")
df.head()

,meeting_key,session_key,driver_number,lap_number,date_start,duration_sector_1,duration_sector_2,duration_sector_3,i1_speed,i2_speed,is_pit_out_lap,lap_duration,segments_sector_1,segments_sector_2,segments_sector_3,st_speed
0,1259,10023,81,1,2025-05-02T16:30:04.816000+00:00,NaN,43.201,35.596,164.0,107.0,True,NaN,"[2064, 2064, 2064, 2049, 2049, 2049, 2049, 204...","[2049, 2049, 2049, 2049, 2049, 2049, 2049, 204...","[2049, 2049, 2049, 2049, 2049, 2049, 2049, 2051]",219.0
1,1259,10023,10,1,2025-05-02T16:30:11.241000+00:00,NaN,40.568,27.843,173.0,161.0,True,NaN,"[2064, 2064, 2064, 2051, 2049, 2049, 2049, 204...","[2049, 2049, 2049, 2049, 2049, 2049, 2049, 204...","[2049, 2051, 2051, 2051, 2051, 2051, 2051, 2051]",302.0
2,1259,10023,5,1,2025-05-02T16:30:14.320000+00:00,NaN,40.195,34.242,197.0,173.0,True,NaN,"[2064, 2064, 2064, 2049, 2049, 2049, 2049, 204...","[2049, 2049, 2049, 2049, 2049, 2049, 2049, 204...","[2051, 2049, 2049, 2049, 2049, 2049, 2049, 2049]",157.0
3,1259,10023,16,1,2025-05-02T16:30:20.489000+00:00,NaN,40.275,38.481,190.0,153.0,True,NaN,"[2064, 2064, 2064, 2049, 2049, 2049, 2049, 204...","[2049, 2049, 2049, 2049, 2049, 2049, 2049, 204...","[2049, 2049, 2049, 2049, 2049, 2049, 2049, 2049]",109.0
4,1259,10023,55,1,2025-05-02T16:30:21.956000+00:00,NaN,41.446,36.064,186.0,98.0,True,NaN,"[2064, 2064, 2064, 2049, 2049, 2049, 2049, 204...","[2049, 2051, 2051, 2051, 2049, 2049, 2049, 204...","[2049, 2049, 2049, 2049, 2049, 2049, 2049, 2051]",71.0