In [28]:
import requests
import pandas as pd
import os

BASE_URL = "https://api.openf1.org/v1"
MEETING_KEY = "1252"

def get_race_session_key(meeting_key):
    response = requests.get(f"{BASE_URL}/sessions?meeting_key={meeting_key}")
    response.raise_for_status()
    sessions = response.json()

    for session in sessions:
        if session.get("session_name") == "Race":
            return session["session_key"]
    
    raise ValueError(f"No 'Race' session found for meeting_key {meeting_key}")


def fetch_data(endpoint, session_key):
    url = f"{BASE_URL}/{endpoint}?session_key={session_key}"
    response = requests.get(url)
    response.raise_for_status()
    return pd.DataFrame(response.json())

def save_data(df, name):
    filepath = f"{name}.csv"
    df.to_csv(filepath, index=False)
    print(f"Saved {name} data to {filepath}")

In [30]:
session_key = get_race_session_key(MEETING_KEY)
laps_df = fetch_data("laps", session_key)
laps_df.head()

,meeting_key,session_key,driver_number,lap_number,date_start,duration_sector_1,duration_sector_2,duration_sector_3,i1_speed,i2_speed,is_pit_out_lap,lap_duration,segments_sector_1,segments_sector_2,segments_sector_3,st_speed
0,1252,9662,1,1,None,NaN,39.931,34.944,290.0,302.0,True,NaN,"[2048, 2049, 2049, 2049, 2049]","[2049, 2049, 2049, 2049, 2049, 2049, 2049, 204...","[2049, 2049, 2051, 2049, 2049, 2049, 2049, 204...",289.0
1,1252,9662,4,1,None,NaN,38.405,32.676,281.0,283.0,True,NaN,"[2064, 2049, 2051, 2051, 2049]","[2049, 2051, 2049, 2049, 2049, 2051, 2049, 204...","[2049, 2051, 2049, 2049, 2049, 2049, 2049, 204...",293.0
2,1252,9662,10,1,None,NaN,38.658,33.126,287.0,294.0,True,NaN,"[2048, 2049, 2049, 2049, 2051]","[2049, 2049, 2049, 2049, 2049, 2049, 2049, 204...","[2051, 2049, 2049, 2049, 2049, 2049, 2049, 204...",306.0
3,1252,9662,11,1,None,NaN,50.797,NaN,283.0,128.0,True,NaN,"[2048, 2049, 2049, 2049, 2049]","[2049, 2049, 2049, 2049, 2049, 2049, 2049, 204...","[0, 0, 0, 0, 0, 0, 0, 0, 0]",305.0
4,1252,9662,14,1,None,NaN,39.033,33.904,285.0,283.0,True,NaN,"[2048, 2049, 2049, 2049, 2049]","[2049, 2049, 2051, 2049, 2049, 2049, 2049, 204...","[2049, 2049, 2049, 2049, 2049, 2049, 2049, 204...",291.0

In [31]:
session_key = get_race_session_key(MEETING_KEY)
weather_df = fetch_data("weather", session_key)
weather_df.head()

,date,session_key,rainfall,humidity,air_temperature,pressure,wind_direction,meeting_key,track_temperature,wind_speed
0,2024-12-08T12:07:44.039000+00:00,9662,0,42.0,27.8,1017.3,292,1252,37.2,1.0
1,2024-12-08T12:08:44.037000+00:00,9662,0,43.0,27.8,1017.3,304,1252,37.1,2.7
2,2024-12-08T12:09:44.041000+00:00,9662,0,43.0,27.7,1017.2,324,1252,36.8,2.5
3,2024-12-08T12:10:44.057000+00:00,9662,0,43.0,27.7,1017.2,277,1252,36.8,2.0
4,2024-12-08T12:11:44.070000+00:00,9662,0,44.0,27.6,1017.2,308,1252,36.7,1.7

In [32]:
session_key = get_race_session_key(MEETING_KEY)
stints_df = fetch_data("stints", session_key)
stints_df.head()

,meeting_key,session_key,stint_number,driver_number,lap_start,lap_end,compound,tyre_age_at_start
0,1252,9662,1,11,NaN,NaN,MEDIUM,0
1,1252,9662,1,43,1.0,3.0,MEDIUM,0
2,1252,9662,1,81,1.0,4.0,MEDIUM,0
3,1252,9662,1,77,1.0,6.0,MEDIUM,0
4,1252,9662,1,18,1.0,11.0,MEDIUM,1

In [33]:
session_key = get_race_session_key(MEETING_KEY)
sessions_df = fetch_data("sessions", session_key)
sessions_df.head()

,meeting_key,session_key,location,date_start,date_end,session_type,session_name,country_key,country_code,country_name,circuit_key,circuit_short_name,gmt_offset,year
0,1252,9662,Yas Island,2024-12-08T13:00:00+00:00,2024-12-08T15:00:00+00:00,Race,Race,21,UAE,United Arab Emirates,70,Yas Marina Circuit,04:00:00,2024

In [34]:
save_data(laps_df, "laps")
save_data(weather_df, "weather")
save_data(stints_df, "stints")
save_data(sessions_df, "sessions")

Saved laps data to laps.csv
Saved weather data to weather.csv
Saved stints data to stints.csv
Saved sessions data to sessions.csv